{%  extends "custom_user/base.html" %}

{% load polls_extras %}

{% block title %} {{ block.super }} - {{user.username}} - My posts {% endblock %}

{% block content%}
    <div>

        <div>
            {% for post, categories in posts_and_categories.items %}
                <div>
                    <p> created date: {{ post.created_date }} by {{ post.author }} </p>
                    <h1> {{ post.title }} </h1>
                    <p>  {{ post.text }} </p>
                </div>
                {% for  category in categories%}
                    {% convert_to_string "/blog/category/"  category.id as category_url%}
                        <a href={{category_url}} > @{{category.headline}}@</a>
                {% endfor %}

            {% endfor %}

        </div>

    </div>

{% endblock %}
