{%  extends "custom_user/base.html" %}

{% load polls_extras %}

{% block title %} {{ block.super }} - {{user.username}} - My posts {% endblock %}

{% block content%}
    <div>
        <h1> My posts </h1>

        <div>
            {% for post in posts %}
                <div>
                    <p> created date: {{ post.created_date }} by {{ post.author }} </p>
                    <h1> {{ post.title }} </h1>
                    <p>  {{ post.text }} </p>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}
